:root {
  --main-color:#f44336;
  --main-image:url(../images/one.jpg)
}

 
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Cairo", sans-serif;
  background-image: var(--main-image);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 100%;
}
body::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2431372549);
}

.container {
  position: relative;
  padding: 100px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.form {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(159, 159, 159, 0.37);
          box-shadow: 0px 0px 5px 0px rgba(159, 159, 159, 0.37);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.02);
  padding: 10px 5px;
  margin-bottom: 50px;
  text-align: center;
}
@media (max-width: 767px) {
  .form {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .form {
    width: 750px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .form {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .form {
    width: 1170px;
  }
}
.form .user-input {
  width: 90%;
  padding: 8px;
  border: none;
  border-radius: 4px;
}
.form .user-input:focus {
  outline: none;
}
@media (max-width: 767px) {
  .form .user-input {
    width: 95%;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .form .user-input {
    width: 80%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .form .user-input {
    width: 85%;
  }
}
@media (min-width: 1200px) {
  .form .user-input {
    width: 90%;
  }
}
.form #add {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: capitalize;
  background-color: var(--main-color);
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .form #add {
    width: 40%;
    margin-left: 0px;
  }
}

.tasks {
  padding: 30px;
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(159, 159, 159, 0.37);
          box-shadow: 0px 0px 5px 0px rgba(159, 159, 159, 0.37);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
}
@media (max-width: 767px) {
  .tasks {
    width: 400px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .tasks {
    width: 750px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .tasks {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .tasks {
    width: 1170px;
  }
}
.tasks .task {
  background-color: #fff;
  margin: 10px;
  font-size: 18px;
  text-align: left;
  padding: 12px;
  border-radius: 8px;
  border-left: 3px solid var(--main-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tasks .task .delete {
  background-color: #ff0000;
  border: none;
  color: #fff;
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.remove-all {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: capitalize;
  background-color: var(--main-color);
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .remove-all {
    width: 40%;
  }
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
.settings {
  position: fixed;
  top: 25px;
  left: -300px;
  padding: 15px;
  background-color: #222;
  width: 300px;
  height: 400px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.settings .gear {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #222;
  padding: 13px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.settings .gear:focus {
  outline: none;
}
.settings .gear i {
  -webkit-animation: rotate 1.5s infinite linear;
          animation: rotate 1.5s infinite linear;
  cursor: pointer;
}
.settings .main-colors .title {
  color: #fff;
  margin: 35px auto;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
}
.settings .main-colors .title::before {
  content: "";
  position: absolute;
  top: 53%;
  left: 70%;
  width: 35px;
  height: -1px;
  border: 1px solid var(--main-color);
}
.settings .main-colors .title::after {
  content: "";
  position: absolute;
  top: 53%;
  right: 70%;
  width: 35px;
  height: -1px;
  border: 1px solid var(--main-color);
}
.settings .main-images .title {
  color: #fff;
  margin: 35px auto;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
}
.settings .main-images .title::before {
  content: "";
  position: absolute;
  top: 53%;
  right: 80%;
  width: 35px;
  height: -1px;
  border: 1px solid var(--main-color);
}
.settings .main-images .title::after {
  content: "";
  position: absolute;
  top: 53%;
  left: 80%;
  width: 35px;
  height: -1px;
  border: 1px solid var(--main-color);
}
.settings .colors {
  margin: 10px auto;
}
.settings .colors > li {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  cursor: pointer;
  opacity: 0.5;
}
.settings .colors .one {
  background-color: #f44336;
}
.settings .colors .two {
  background-color: #e91e63;
}
.settings .colors .three {
  background-color: #673ab7;
}
.settings .colors .four {
  background-color: #009688;
}
.settings .colors .five {
  background-color: #cddc39;
}
.settings .colors .six {
  background-color: #2196f3;
}
.settings .colors .seven {
  background-color: #00bcd4;
}
.settings .colors .eight {
  background-color: #4caf50;
}
.settings .colors .active {
  opacity: 1;
}
.settings .images {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.settings .images > div {
  max-width: 60px;
  max-height: 40px;
  cursor: pointer;
  margin: 3px;
  display: inline-block;
}
.settings .images > div img {
  width: 100%;
}

.footer {
  padding: 20px;
  position: fixed;
  font-size: 18px;
  text-align: center;
  width: 100%;
  display: block;
  left: 0;
  bottom: 0;
  background-color: #222;
  color: #fff;
  box-shadow: 0px 0px 7px 0 #000;
}